In [1]:
import pandas as pd
pd.set_option("display.max_columns", None)

In [2]:
%run 'SAS data dictionary.ipynb'

In [3]:
df_immigration = pd.read_csv('Raw/immigration_data_sample.csv')
df_immigration.head()

,Unnamed: 0,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,i94bir,i94visa,count,dtadfile,visapost,occup,entdepa,entdepd,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,2027561,4084316.0,2016.0,4.0,209.0,209.0,HHW,20566.0,1.0,HI,20573.0,61.0,2.0,1.0,20160422,NaN,NaN,G,O,NaN,M,1955.0,07202016,F,NaN,JL,5.658267e+10,00782,WT
1,2171295,4422636.0,2016.0,4.0,582.0,582.0,MCA,20567.0,1.0,TX,20568.0,26.0,2.0,1.0,20160423,MTR,NaN,G,R,NaN,M,1990.0,10222016,M,NaN,*GA,9.436200e+10,XBLNG,B2
2,589494,1195600.0,2016.0,4.0,148.0,112.0,OGG,20551.0,1.0,FL,20571.0,76.0,2.0,1.0,20160407,NaN,NaN,G,O,NaN,M,1940.0,07052016,M,NaN,LH,5.578047e+10,00464,WT
3,2631158,5291768.0,2016.0,4.0,297.0,297.0,LOS,20572.0,1.0,CA,20581.0,25.0,2.0,1.0,20160428,DOH,NaN,G,O,NaN,M,1991.0,10272016,M,NaN,QR,9.478970e+10,00739,B2
4,3032257,985523.0,2016.0,4.0,111.0,111.0,CHM,20550.0,3.0,NY,20553.0,19.0,2.0,1.0,20160406,NaN,NaN,Z,K,NaN,M,1997.0,07042016,F,NaN,NaN,4.232257e+10,LAND,WT

In [4]:
#Rename columns to create understanding ??? 

df_immigration.rename(columns = {'i94yr' : 'year',
                                 'i94mon':'month', 
                                 'i94cit': 'country_citizenship_code', 
                                 'i94res': 'country_residence_code', 
                                 'i94port': 'arrival_airport_code', 
                                 'arrdate' : 'arrival_date', 
                                 'i94mode': 'mode_entry_code', #change?
                                 'i94addr': 'arrival_state_code', #check 
                                 'depdate': 'departure_date', 
                                 'i94bir': 'respondant_age', 
                                 'i94visa': 'visa_code',                              
                                 'dtadfile': 'date_file',
                                 'visapost': 'dept_issued',
                                 'occup': 'occupation', 
                                 'entdepa': 'arrival_flag', 
                                 'entdepd': 'departure_flag',
                                 'entdepu': 'update_flag', 
                                 'matflag': 'match_flag', 
                                 'biryear': 'birth_year',                            
                                 'dtaddto' : 'date_allowed_to_stay',
                                 'insnum' : "INS_number",
                                 'admnum' : "admission_number", 
                                 'fltno': "flight_number", 
                                 'visatype': 'visa_type'
                                        }, inplace = True)

In [5]:
df_immigration.dtypes

Unnamed: 0                    int64
cicid                       float64
year                        float64
month                       float64
country_citizenship_code    float64
country_residence_code      float64
arrival_airport_code         object
arrival_date                float64
mode_entry_code             float64
arrival_state_code           object
departure_date              float64
respondant_age              float64
visa_code                   float64
count                       float64
date_file                     int64
dept_issued                  object
occupation                   object
arrival_flag                 object
departure_flag               object
update_flag                 float64
match_flag                   object
birth_year                  float64
date_allowed_to_stay         object
gender                       object
INS_number                  float64
airline                      object
admission_number            float64
flight_number                object
visa_type                    object
dtype: object

In [6]:
df_immigration_residence = pd.merge(df_immigration, country_residence, on="country_residence_code", how="left")
df_immigration_citizenship = pd.merge(df_immigration_residence, country_citizenship, on="country_citizenship_code", 
                                     how="left")
df_immigration_airport = pd.merge(df_immigration_citizenship, airports, on="arrival_airport_code", how="left")
df_immigration_mode = pd.merge(df_immigration_airport, modes, on="mode_entry_code", how="left")
df_immigration_US_states = pd.merge(df_immigration_mode, US_states, on="arrival_state_code", how="left")
df_immigration_merged = pd.merge(df_immigration_US_states, visa_codes, on="visa_code", how="left")
df_immigration_merged

,Unnamed: 0,cicid,year,month,country_citizenship_code,country_residence_code,arrival_airport_code,arrival_date,mode_entry_code,arrival_state_code,departure_date,respondant_age,visa_code,count,date_file,dept_issued,occupation,arrival_flag,departure_flag,update_flag,match_flag,birth_year,date_allowed_to_stay,gender,INS_number,airline,admission_number,flight_number,visa_type,country_residence,country_citizenship,arrival_airport,mode_entry,arrival_state,visa_category
0,2027561,4084316.0,2016.0,4.0,209.0,209.0,HHW,20566.0,1.0,HI,20573.0,61.0,2.0,1.0,20160422,NaN,NaN,G,O,NaN,M,1955.0,07202016,F,NaN,JL,5.658267e+10,00782,WT,JAPAN,JAPAN,NaN,Air,HAWAII,Pleasure
1,2171295,4422636.0,2016.0,4.0,582.0,582.0,MCA,20567.0,1.0,TX,20568.0,26.0,2.0,1.0,20160423,MTR,NaN,G,R,NaN,M,1990.0,10222016,M,NaN,*GA,9.436200e+10,XBLNG,B2,"MEXICO Air Sea, and Not Reported (I-94, no l...","MEXICO Air Sea, and Not Reported (I-94, no l...",NaN,Air,TEXAS,Pleasure
2,589494,1195600.0,2016.0,4.0,148.0,112.0,OGG,20551.0,1.0,FL,20571.0,76.0,2.0,1.0,20160407,NaN,NaN,G,O,NaN,M,1940.0,07052016,M,NaN,LH,5.578047e+10,00464,WT,GERMANY,NaN,NaN,Air,FLORIDA,Pleasure
3,2631158,5291768.0,2016.0,4.0,297.0,297.0,LOS,20572.0,1.0,CA,20581.0,25.0,2.0,1.0,20160428,DOH,NaN,G,O,NaN,M,1991.0,10272016,M,NaN,QR,9.478970e+10,00739,B2,QATAR,QATAR,NaN,Air,CALIFORNIA,Pleasure
4,3032257,985523.0,2016.0,4.0,111.0,111.0,CHM,20550.0,3.0,NY,20553.0,19.0,2.0,1.0,20160406,NaN,NaN,Z,K,NaN,M,1997.0,07042016,F,NaN,NaN,4.232257e+10,LAND,WT,FRANCE,FRANCE,NaN,Land,NEW YORK,Pleasure
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2117909,4288772.0,2016.0,4.0,135.0,135.0,LVG,20567.0,1.0,NV,20572.0,32.0,2.0,1.0,20160423,NaN,NaN,G,O,NaN,M,1984.0,07212016,M,NaN,VS,5.914065e+10,00043,WT,UNITED KINGDOM,UNITED KINGDOM,NaN,Air,NEVADA,Pleasure
996,1463022,2947585.0,2016.0,4.0,261.0,261.0,PSP,20560.0,1.0,HI,20567.0,35.0,1.0,1.0,20160416,JDD,NaN,G,O,NaN,M,1981.0,10152016,M,NaN,SV,9.371186e+10,00041,B1,SAUDI ARABIA,SAUDI ARABIA,NaN,Air,HAWAII,Business
997,1414569,2883298.0,2016.0,4.0,111.0,111.0,MIA,20560.0,1.0,FL,20566.0,39.0,2.0,1.0,20160416,NaN,NaN,G,O,NaN,M,1977.0,07142016,M,NaN,AF,5.627747e+10,00090,WT,FRANCE,FRANCE,NaN,Air,FLORIDA,Pleasure
998,1094181,2264857.0,2016.0,4.0,582.0,582.0,ATL,20556.0,1.0,WI,20559.0,35.0,1.0,1.0,20160412,MTR,NaN,G,O,NaN,M,1981.0,10112016,M,NaN,EV,9.334035e+10,05510,B1,"MEXICO Air Sea, and Not Reported (I-94, no l...","MEXICO Air Sea, and Not Reported (I-94, no l...",NaN,Air,WISCONSON,Business
999,2271807,4654865.0,2016.0,4.0,687.0,687.0,MIA,20568.0,1.0,FL,20578.0,44.0,2.0,1.0,20160424,BNS,NaN,G,O,NaN,M,1972.0,10232016,F,NaN,LA,9.440386e+10,02514,B2,ARGENTINA,ARGENTINA,NaN,Air,FLORIDA,Pleasure

In [7]:
df_immigration['arrival_airport_code'].value_counts()

arrival_airport_code
NYC    155
MIA    111
LOS    106
SFR     55
NEW     45
      ...
MIL      1
PHR      1
MCA      1
SHA      1
HAM      1
Name: count, Length: 70, dtype: int64

In [8]:
df_immigration_merged.isnull().sum()

Unnamed: 0                     0
cicid                          0
year                           0
month                          0
country_citizenship_code       0
country_residence_code         0
arrival_airport_code           0
arrival_date                   0
mode_entry_code                0
arrival_state_code            59
departure_date                49
respondant_age                 0
visa_code                      0
count                          0
date_file                      0
dept_issued                  618
occupation                   996
arrival_flag                   0
departure_flag                46
update_flag                 1000
match_flag                    46
birth_year                     0
date_allowed_to_stay           0
gender                       141
INS_number                   965
airline                       33
admission_number               0
flight_number                  8
visa_type                      0
country_residence              0
country_citizenship          127
arrival_airport             1000
mode_entry                     0
arrival_state                 67
visa_category                  0
dtype: int64